.logoutButton {
    background-color: transparent;
    border: none;
    color: blue; 
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    transition: color 0.3s ease;
  }
  
  .logoutButton:hover {
    color: darkblue;
  }
  